<div class="row valign-wrapper">
  <!-- <div class="col s2">
    <button class="slider-click" (click)="fullpageService.moveSlideLeft()">
      <i class="fa fa-chevron-left"></i>
    </button>
  </div> -->
  <div class="col s12">
    <div class="about card-panel">
      <div class="row">
          <div class="col s12 left-align">
            <h3 class="title">Work experience</h3>
            <hr>
          </div>
          <div class="col s12">
            <div>
              HI I am WORK
            </div>
          </div>
          
      </div>
    </div>
  </div>
  <!-- <div class="col s2">
    <button class="slider-click" (click)="fullpageService.moveSlideRight()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div> -->
</div>