<div class="menu-wrapper hide-on-small-only">
  <div class="menu">
    <button type="button" class="btn-menu waves-effect waves-circle waves-light btn-floating btn-large">
      <i class="medium fa fa-navicon"></i>
    </button>
  </div>
</div>

<div id="content-wrapper" [mnFullpage]="options"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageLoopHorizontal]="true"
  [mnFullpageScrollOverflow]="true">

  <div 
    class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <home>
      </home>
    </div>
  </div>

  <div id="section2" class="section about-section fp-section fp-table">
    <div class="fp-tableCell">
      <about>
      </about>
    </div>
  </div>

  <div id="section3" class="section experience-section fp-section fp-table">
    <div 
      class="fp-tableCell">
      <div class="row valign-wrapper">
        <div class="col s1 hide-on-med-and-down">
          <button class="slider-click" (click)="fullpageService.moveSlideLeft()">
            <i class="medium fa fa-chevron-left"></i>
          </button>
        </div>
        <div class="col s12 l10">
          <div class="slide">
            <school></school>
          </div>
          <div class="slide">
            <work></work>
          </div>
        </div>
        <div class="col s1 hide-on-med-and-down">     
          <button class="slider-click" (click)="fullpageService.moveSlideRight()">
            <i class="medium fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="section4" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <resume>
      </resume>
    </div>
  </div>

</div>