<div class="menu-wrapper">
  <ul class="menu">
    <button type="button" class="waves-effect waves-circle waves-light btn-floating"><i class="fa fa-navicon" aria-hidden="true"></i></button>
  </ul>
</div>

<div id="content-wrapper" [mnFullpage]="options"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageLoopHorizontal]="true"
  [mnFullpageScrollOverflow]="true">

  <div 
    class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <home>
      </home>
    </div>
  </div>

  <div id="section2" class="section about-section fp-section fp-table">
    <div class="fp-tableCell">
      <about>
      </about>
    </div>
  </div>

  <div id="section2" class="section experience-section fp-section fp-table">
    <div 
      class="fp-tableCell">
      <div class="slide">
        <school></school>
      </div>
      <div class="slide">
        <work></work>
      </div>
    </div>
  </div>

</div>