.full-width{
  max-width:100%;
  margin: 0 auto;
  position: relative;
  .full-width-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.achi-location{
  margin-top: 0px;
  font-size: 12px;
}

.achi-year{
  margin-bottom: 0px;
}


.researchLink{
  margin:5px;
  font-size:2em;
}

a{
  &:link{
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: black;
  }
  &:active {
    color: red;
  }
}